h2 {
	font-family:Arial, bold;
    font-size: 96px;
    opacity: 0.5;
    color: blue;
    margin: 128px 0px 5px 0px;
    text-align: center;
}

#addThis {
    font-size: 36px;
    width: 100%;
    text-shadow: 1px 1px #99a0a5;
}

form {
    display: inline-block;
}


.list {
	font-family: Arial;	
    font-size: 36px;
    text-align: left;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    margin: 0px 685px 0px 689px;
}


.item {
    border: 0px;
}

.panel {
    width: 528px;
    height: 41px;
    }


.remove{
    border: 0;
    padding: 0;
    margin-top: 10px;
    display: none;
    vertical-align: baseline;
    background: none;
    font-size: 20px;
    float: right;
    opacity: 0.5;
}

.list div:hover .remove {
    display: block;
}

.list div .remove:hover {
    opacity: 1;
    text-shadow: 2px 2px #99a0a5;
}

.list div .remove:after {
    content: "\00d7";
}


.remove-selected {
    font-size: 16px;
    float: right;
    margin: 0px 10px 0px 0px;
    opacity: 0.3;
    background-color: #acb4ba;
    cursor: pointer;
}

.remove-me {
opacity: 0.5;
}

button {
    border: 0;
}

input[type="checkbox"] {
    margin: 15px 10px 15px 0px;

}
